		
       /* MODULE STYLESHEET - just to help with visualization - do not use this or edit it */
        
        
        /* MODULE PREVIEW SPECIFIC STYLES */
        body {background-color: #17181c !important;}
        .footerMock { width: 100%;  position: fixed; bottom: 0;}
        .bodyMock {height: 1000px !important;}
        .labelMock {font-family: 'Playfair Display', Georgia, serif, roman; mso-ascii-font-family:'Playfair Display', Georgia, serif, roman; mso-ansi-font-weight: 900; font-weight: 900; font-optical-sizing: none;  font-style: normal; display: inline-block; font-size: 50px; line-height: 50px; color: #0086ff; letter-spacing: -0.25px; -webkit-font-smoothing: antialiased; font-kerning: normal; text-wrap: balance; margin-top: 10vh !important; margin-bottom: 40px !important;}

        /* CLIENT-SPECIFIC STYLES */
        .hoverRibbon {  transition: all 0.2s ease-in-out; }
        .hoverRibbon:hover td {background-color: #e7e7e7 !important; opacity: 0.5 !important; filter: blur(1px) !important;
                transition: all 0.2s ease-in-out; }
        .hoverRibbon td:hover {background-color: #1C1E22!important; opacity: 1.0 !important; filter: blur(0px) !important;
                transition: all 0.2s ease-in-out;}
        .hoverRibbon td:hover a {color: #e7e7e7!important; transition: all 0.2s ease-in-out;}
        .CTAbuttons {transition: all 0.2s ease-in-out; }
        .CTAbuttons:hover .CTAbutton {background-color: transparent !important; opacity: 0.5 !important; border: 2px solid #888888ff !important; transition: all 0.2s ease-in-out; }
        .CTAbuttons .CTAbutton:hover {background-color: #e7e7e7!important; opacity: 1.0 !important;  border: 2px solid #e7e7e7 !important; transition: all 0.2s ease-in-out; box-shadow: 0px 0px 5px 4px #1d1e22, 0px 20px 20px -15px #e7e7e7}
        .CTAbuttons:hover .CTAbutton font {color: #e7e7e7 !important; transition: all 0.2s ease-in-out; opacity: 1.0 !important; }
        .CTAbuttons .CTAbutton:hover font {color: #1d1e22!important; font-weight: 900 !important; transition: all 0.2s ease-in-out; opacity: 1.0 !important;}
		body, table, td, a, p { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
		table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
		img { -ms-interpolation-mode: bicubic; }
		strong {font-weight: 900 !important;}
        .list-type {padding-bottom: 5px;}
        .liststack { width:140px!important; display:block!important; padding: 0 !important; margin-left: 0px !important;}
        .helpButton {  transition: all 0.2s ease-in-out; }
        .helpButton:hover a {filter: opacity(30%) blur(1px) !important; transition: all 0.2s ease-in-out; }
        .helpButton a:hover {filter: opacity(100%) blur(0px) !important; transition: all 0.2s ease-in-out;}
        .appButton {  transition: all 0.2s ease-in-out; }
        .appButton:hover td {filter: opacity(30%) blur(1px) !important; transition: all 0.2s ease-in-out; }
        .appButton td:hover {filter: opacity(100%) blur(0px) !important; transition: all 0.2s ease-in-out;}
		/* RESET STYLES */
		img { border: 0; outline: none; text-decoration: none; }
		table { border-collapse: collapse !important; }
		body { margin: 0 !important; padding: 0 !important; width: 100% !important; text-rendering: optimizeLegibility !important;}
        .darkBack {color-scheme: only dark !important;}
		h1, h2, h3, h4, h5, h6, p { margin: 0 !important; -webkit-font-smoothing: antialiased !important; text-rendering: optimizeLegibility !important;}
        
		/* HIDE ON DESKTOP */
			.desktopOff { max-height: 0px; font-size: 0px; display: none; }
            .mobileOn { max-height: 0px; font-size: 0px; display: none; }

		/* HIDE ON ALL */
        #none { max-height: 0px; font-size: 0px; display: none; }
			
		/* iOS BLUE LINKS */
		a[x-apple-data-detectors] {
			color: inherit !important;
			text-decoration: none !important;
			font-size: inherit !important;
			font-family: inherit !important;
			font-weight: inherit !important;
			line-height: inherit !important;
		}

		/* ANDROID CENTER FIX */
		div[style*="margin: 16px 0;"] { margin: 0 !important; }
		

		/* MEDIA QUERIES - THESE ARE MOBILE STYLES - STAY WITHIN THE @MEDIA CURLY BRACES */
		/* MOBILE / TABLET */
		@media all and (max-width:639px){ 
			/*MOBILE RESET STYLES*/
			.mobile-100 { width:100vw!important; padding: 0 !important; }
            .mobile-400 { width:400px!important; padding: 0 !important; }
			.mobile-100 { width:100vw!important; padding: 0 !important; }
            .mobile-400 { width:400px!important; padding: 0 !important; }
			.mobile-320 { width:320px!important; padding: 0 !important; }
			.mobile-300 { width:300px!important;  padding: 0 !important; }
			.mobile-280 { width:280px!important;  padding: 0 !important; }
            .mobile-260 { width:260px!important;  padding: 0 !important; }
            .mobile-240 { width:240px!important;  padding: 0 !important; }
            .mobile-220 { width:220px!important;  padding: 0 !important; }
            .mobile-200 { width:200px!important;  padding: 0 !important; }
			.stack { display:block!important; padding: 0 !important; }
			.img { width:100% !important; height:auto !important; }
            .none { width:0px !important; height:auto !important; }
            .darkBack {color-scheme: only dark !important; background-color: #1C1E22 !important;}
            .footerBack {color-scheme: only light !important; background-color: #e7e7e7 !important;}
			/*MOBILE VISIBILITY*/
			.mobileOff { width: 0px !important; display: none !important; }
			.mobileOn { display: block !important; max-height:none !important; }
            .desktopOff { display:contents !important; }
			/*ALIGNERS*/
			.center-align { text-align: center !important; margin: 0 auto !important; padding: 0 !important;}
			.left-align { text-align: left !important; }
			.logo { text-align: left !important; padding-left: 10px;}
			.right-align { text-align: right !important; }
            .spacer {margin-bottom: 20px !important;}
			/*TEXT RESIZERS*/
			.h1-text-resize { font-size:3em !important; line-height: 1 !important;}
			.h2-text-resize { font-size:20px !important; line-height:30px !important; margin: 10px !important;}
			.h3-text-resize { font-size:20px !important; line-height:30px !important; }
			.intro-text-resize { font-size: 1.1em !important; line-height:1.75 !important; margin-left: 0px !important; margin-right: 0px !important; text-indent: 10px !important; padding-left: 0 !important;}
			.small-text-resize {font-size:12.5px !important; line-height:20px !important;}
            .footer-text-resize { font-size:12.5px !important; line-height:20px !important; }
			.italic-text-resize { font-size:14px !important; line-height:1.75 !important; margin-left: 0px !important; margin-right: 0px !important;  }
            .bullet-text-resize { font-size:12px !important; line-height:1.75 !important; padding-left: 10px !important; margin-right: 0px !important;  }
            .footer-text-resize { font-size:12.5px !important; line-height:20px !important; }
			/*IMAGE RESIZERS*/
			.imgresize100 img {width:100% !important; height:auto !important;}
			.imgresize120 img {width:120% !important; height:auto !important;}
			.imgresize90 img {width:90% !important; height:auto !important; margin-left: 0 !important;}
			.imgresize80 img {width:80% !important; height:auto !important;}
			.imgresize70 img {width:70% !important; height:auto !important;}
			.imgresize60 img {width:60% !important; height:auto !important;}
			.imgresize50 img {width:50% !important; height:auto !important;}
			/*WIDTH RESIZERS*/
			.resize90 {width:90% !important; height:auto !important;}
            .resize100 {width:100% !important; height:auto !important;}
			}